@import "../../utils/mixins.scss";
@import "../../utils/vars.scss";

.sidebar {
  height: 100%;
  // background-color: red;
  border: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  width: 350px;

  &__icon {
    width: 30px;
    height: 30px;
  }

  &__ul {
    margin-top: 44px;
    margin-left: 44px;

    list-style-type: disc;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 39px;
  }

  &__li {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 34px;

    &:hover {
      transform: scale(1.1);
      transition: all 0.3s ease;
    }
  }

  &__link {
    text-decoration: none;
    color: $main-gray;
    font-size: 20px;
  }

  &__logo {
    margin-top: 15px;
    display: flex;
    align-items: center;
    align-self: center;

    &__img {
      display: flex;
      align-self: center;
      width: 100px;
      height: 100px;
    }

    &__text {
      font-size: 35px;
      font-weight: 700;
      color: $main-blue;
      text-shadow: 0 0 20px #c9e9ff, 0 0 40px #c9e9ff, 0 0 60px #c9e9ff,
        0 0 80px #c9e9ff;
    }
  }
}
